/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "./scss/theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "~highlight.js/styles/monokai.css";

body {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  color: $dark;
  background-color: $dark;
  box-sizing: border-box;
  position: absolute;
  min-width: 100vw;
  overflow-x: hidden;
}

h1,
h3 {
  color: $light;
}

.icon {
  &-secondary {
    filter: invert(49%) sepia(7%) saturate(2626%) hue-rotate(152deg)
      brightness(92%) contrast(90%);
  }

  &-light {
    filter: invert(87%) sepia(25%) saturate(0%) hue-rotate(131deg)
      brightness(95%) contrast(93%);
  }
}

.pointer {
  cursor: pointer;
}
