@import "../../../../scss/variables";

:host ::ng-deep .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

:host ::ng-deep .page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

:host ::ng-deep .text-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;

  &-page-1 {
    top: 160px;
  }
}

:host ::ng-deep h1 {
  color: $primary;
}

:host ::ng-deep h2,
:host ::ng-deep h3 {
  color: $secondary;
}

:host ::ng-deep h4,
:host ::ng-deep h5,
:host ::ng-deep h6 {
  color: $warning;
}

:host ::ng-deep p,
:host ::ng-deep li,
:host ::ng-deep em {
  color: $light;
}

:host ::ng-deep li {
  margin-left: -1.5rem;
}

:host ::ng-deep li {
  position: relative;
  width: 100%;
  height: 100%;
}

:host ::ng-deep a {
  color: $secondary;
}

:host ::ng-deep fa-icon {
  color: $secondary;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

:host ::ng-deep code {
  background-color: rgba(0, 0, 0, 0.85);
  white-space: pre-wrap;
  overflow-x: hidden;
  font-size: 75%;
  min-height: fit-content;
}

:host ::ng-deep pre {
  font-size: 75%;
}

:host ::ng-deep .img {
  &-height {
    width: auto;
    height: 100%;
    max-width: 50%;
  }

  &-width {
    width: 50%;
    height: auto;
  }
}

:host ::ng-deep video {
  width: 100%;
}

:host .control-img {
  cursor: pointer;
  z-index: 1000;

  &:hover {
    filter: invert(7%) sepia(29%) saturate(6804%) hue-rotate(360deg)
      brightness(95%) contrast(106%);
  }
}

:host .img-backward {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
